@font-face
    font-family "Material Icons"
    font-style normal
    font-weight 400
    src local("Material Icons"),
        local("MaterialIcons-Regular"),
        url(../../static/fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(../../static/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(../../static/fonts/MaterialIcons-Regular.ttf) format('truetype')
@font-face {
    font-family: 'iconfont'  /* project id 428022 */
    src: url('//at.alicdn.com/t/font_428022_39hckd64w9afw29.eot')
    src: url('//at.alicdn.com/t/font_428022_39hckd64w9afw29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_428022_39hckd64w9afw29.woff') format('woff'),
    url('//at.alicdn.com/t/font_428022_39hckd64w9afw29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_428022_39hckd64w9afw29.svg#iconfont') format('svg');
    }  

.material-icons
    display inline-block
    font normal normal 24px/24px "Material Icons"
    text-transform none
    letter-spacing normal
    word-wrap normal
    white-space nowrap
    direction ltr

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing antialiased
    /* Support for Safari and Chrome. */
    text-rendering optimizeLegibility

    /* Support for Firefox. */
    -moz-osx-font-smoothing grayscale

    /* Support for IE. */
    font-feature-settings "liga"

